In [1]:
import yfinance as yf

In [2]:
ticket = "BBAS3"
periodo = "5d"
ticker_obj = yf.Ticker(f"{ticket}.SA")

In [3]:
ticker_obj

yfinance.Ticker object <BBAS3.SA>

In [4]:
ticker_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-09 00:00:00-03:00,29.365463,29.883443,29.345540,29.415270,19842500,0.000000,0.0
2025-05-12 00:00:00-03:00,29.405308,29.564687,28.757834,28.957056,20623700,0.000000,0.0
2025-05-13 00:00:00-03:00,28.996903,29.594570,28.957058,29.544765,20288300,0.000000,0.0
2025-05-14 00:00:00-03:00,29.504921,29.803755,29.415271,29.644377,19723000,0.000000,0.0
2025-05-15 00:00:00-03:00,29.644376,29.793793,29.056668,29.285774,40596400,0.000000,0.0
2025-05-16 00:00:00-03:00,25.450732,25.898985,24.922792,25.570267,152180700,0.000000,0.0
2025-05-19 00:00:00-03:00,25.550343,25.600150,24.912831,24.942715,60409800,0.000000,0.0
2025-05-20 00:00:00-03:00,24.992520,25.570266,24.992520,25.400927,28138800,0.000000,0.0
2025-05-21 00:00:00-03:00,25.480616,25.560305,25.072209,25.161860,34009800,0.000000,0.0
2025-05-22 00:00:00-03:00,25.102094,25.321238,24.952675,24.952675,61464900,0.000000,0.0
2025-05-23 00:00:00-03:00,24.972597,24.992520,24.325123,24.325123,35980700,0.000000,0.0
2025-05-26 00:00:00-03:00,24.414774,24.643880,24.404812,24.574152,11584100,0.000000,0.0
2025-05-27 00:00:00-03:00,24.823181,25.112054,24.454618,24.474541,30416900,0.000000,0.0
2025-05-28 00:00:00-03:00,24.504425,24.554230,23.976483,23.986444,31863700,0.000000,0.0
2025-05-29 00:00:00-03:00,23.936639,23.976483,23.548153,23.607922,43563400,0.000000,0.0
2025-05-30 00:00:00-03:00,23.657726,23.737415,23.259280,23.329008,53293100,0.000000,0.0
2025-06-02 00:00:00-03:00,23.428620,23.508309,23.070018,23.189552,36268800,0.000000,0.0
2025-06-03 00:00:00-03:00,22.969999,23.080000,22.780001,22.980000,20832400,0.090447,0.0
2025-06-04 00:00:00-03:00,23.059999,23.129999,22.350000,22.350000,38469100,0.000000,0.0
2025-06-05 00:00:00-03:00,22.400000,22.530001,22.240000,22.240000,40306500,0.000000,0.0
2025-06-06 00:00:00-03:00,22.350000,22.350000,21.700001,21.709999,56659900,0.000000,0.0
2025-06-09 00:00:00-03:00,21.709999,22.000000,21.469999,21.730000,47713300,0.000000,0.0

In [5]:
ticker_obj.history(period=periodo)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-03 00:00:00-03:00,22.969999,23.080000,22.780001,22.980000,20832400,0.090447,0.0
2025-06-04 00:00:00-03:00,23.059999,23.129999,22.350000,22.350000,38469100,0.000000,0.0
2025-06-05 00:00:00-03:00,22.400000,22.530001,22.240000,22.240000,40306500,0.000000,0.0
2025-06-06 00:00:00-03:00,22.350000,22.350000,21.700001,21.709999,56659900,0.000000,0.0
2025-06-09 00:00:00-03:00,21.709999,22.000000,21.469999,21.730000,47713300,0.000000,0.0

In [10]:
def cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)

    # Limitar em 30 resutlados aleatorios para nao impactar o modelo
    if len(hist) > 30:
        slice_size = int(len(hist) / 30) 
        hist = hist.iloc[::-slice_size][::-1]

    return hist.to_json()

In [11]:
hist = cotacao("BBAS3", "1y")
hist

'{"2024-06-11":25.2,"2024-06-21":24.98,"2024-07-03":25.07,"2024-07-15":25.3,"2024-07-25":25.24,"2024-08-06":25.02,"2024-08-16":26.63,"2024-08-28":26.89,"2024-09-09":27.8,"2024-09-19":26.81,"2024-10-01":26.01,"2024-10-11":25.29,"2024-10-23":25.29,"2024-11-04":25.2,"2024-11-14":24.37,"2024-11-28":23.96,"2024-12-10":24.31,"2024-12-20":23.74,"2025-01-07":23.9,"2025-01-17":24.99,"2025-01-29":27.05,"2025-02-10":27.42,"2025-02-20":27.6,"2025-03-06":27.33,"2025-03-18":28.39,"2025-03-28":28.53,"2025-04-09":27.64,"2025-04-23":27.93,"2025-05-06":28.79,"2025-05-16":25.57,"2025-05-28":23.99,"2025-06-09":21.73}'